<div class="container">
	<h1>About the author</h1>
	<div class="row">
		<div class="col-xs-4">
			My name is Alex.
		</div>
		<div class="col-xs-8">
			<p>I am living in Cluj Napoca, Romania. I have a degree in archaeology, but lately i am learning programming. This is a small application i am doing after a tutorial presented at the Rails Girls workshop.
			</p>
		</div>
	</div>
</div>
