/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: 'Bebas Neue';
	src: url(fonts/'BebasNeue.otf');
}
@font-face {
	font-family: 'Garamond';
	src: url(fonts/'AGaramondPro-Regular.otf');
}
@font-face {
	font-family: 'Garamond';
	src: url(fonts/'AGaramondPro-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Garamond';
	src: url(fonts/'AGaramondPro-Italic.otf');
	font-style: italic;
}

body { 
	background: #7185ed; /* Old browsers */
background: -moz-linear-gradient(top,  #7185ed 0%, #8fa6f6 50%, #7185ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7185ed), color-stop(50%,#8fa6f6), color-stop(100%,#7185ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7185ed 0%,#8fa6f6 50%,#7185ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7185ed 0%,#8fa6f6 50%,#7185ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7185ed 0%,#8fa6f6 50%,#7185ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7185ed 0%,#8fa6f6 50%,#7185ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7185ed', endColorstr='#7185ed',GradientType=0 ); /* IE6-9 */

	padding-top: 100px;
}

.navbar.navbar-inverse.navbar-fixed-top {
	background: none; 
	border-bottom: 1px solid #35459e;
	margin-top: 20px;
}

.navbar-header {
}

a.navbar-brand, a.navbar-link {
	color: #fff !important;
	font-family: 'Bebas Neue';
}

a.navbar-brand {
	font-size: 48px;
}

a.navbar-link {
	font-size: 18px;
}

#tagline {
	font-family: 'Garamond';
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	line-height: 30px;
	margin: 100px 40px;
	text-align: center;
}
.image-1 {
	width: 168px;
	height: 194px;
	background-image: url('../images/head-1.png');
	margin: 10px 40px;
	background-repeat: no-repeat;
}

footer {
	padding-top: 60px;
}

table, td, th {
	vertical-align: middle;
	border: none;
}

th {
	border-bottom: 1px solid #ddd;
}